.marmin-5 {
    margin-top: -5px;
    margin-bottom: -5px;
}

.marbot-5{
    margin-bottom: -5px;
}


.txt-body{
    font-size: 13px;
    line-height: 30px;
}

.gold{
    color: #ceae5e !important;
}
.btn-gold{
    background-color: #ceae5e !important;
    color: white !important;
    border-radius: 25px !important;
    margin-top: 5%;
}

.white{
    color: #fff;
}

.color-custom-dark-green{
    color: #489e5f;
}

.bg-custom-dark{
    background-color: #1c1c1c;
}

.bg-custom-darker{
    background-color: #292929;
}

.bg-custom-brown{
    background-color: #654234;
}

.bg-custom-light-brown{
    background-color: #c38b63;
}

.bg-custom-dark-blue{
    background-color: #1c242e;
}

.text-custom-black{
    color: #000;
}

.text-custom-brown{
    color: #664234;
}

.text-custom-light-brown{
    color: #c38b63;
}

.wrap-header-mobile{
    background-color: #2f3030 !important;
    left:0;
}

.bottom-line-white{
    border-bottom: 1px solid #ffffff;
}

.menu-font-style{
    font-size: 12px !important;
    font-weight: bold;
    color: #000 !important;
}

.menu-font-style2{
    font-size: 14px !important;
    /*font-weight: bold;*/
}

.banner-line-width{
    width: 25%;
}

.banner-margin-top{
    margin-top: 0;
}

/* HEADER OVERRIDE */
.wrap-menu-desktop{
    top: 0 !important;
    position: relative;
}

.container-header-desktop{
    height: 60px;
}

.fix-menu-desktop{
    height: 100px;
}

.main-menu .sub-menu .disabled-link{
    color: #726866 !important;
}

.hamburger-inner:before, .hamburger-inner, .hamburger-inner:after{
    background-color: #ceae5e !important;
}

.header-border-white{
    border-bottom: 1px solid #fff;
    height: 100%;
}

.header-border-light-brown{
    border-bottom: 1px solid #c38b63;
    height: 100%;
}

#header_search{
    border-radius: 30px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    font-family: 'montserratregular', sans-serif !important;
    border: 1px solid #fff;
}

#header_search::placeholder{
    color: #fff;
    font-family: 'montserratregular', sans-serif !important;
}

/* FOOTER OVERRIDE */
.box-subscribe{
    width: 90%;
    position: relative;
}

.input-subscribe{
    border-radius: 30px;
    background-color: #3a3f42;
}

.button-sucbscribe{
    border: none;
    background: transparent;
    font-size: 2rem;
    position: absolute;
    right: 1.9rem;
    top: 0.2rem;
    padding: 0;
    color: dimgray;
}

#back-navigation{
    width: 175px;
}

.back-font{
    font-size: 10px;
}

@media (max-width: 576px) {
    /* Footer */
    .mobile-center{
        text-align: center !important;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }
}

@media (max-width: 768px) {

    /* Footer */
    .mobile-center{
        text-align: center !important;;
    }
    .mobile-p-b-0{
        padding-bottom: 0;
    }
    .mobile-p-t-0{
        padding-top: 0;
    }


}

@media (min-width: 768px) {

    .search-posi{
        margin-left: 141px;
        position: relative;
        left: 120px;
    }

    .txt-body{
        font-size: 15px;
        line-height: 1.8em;
    }
    .wrap-menu-desktop{
        height: 55px;
    }
    .header-v3 .logo-v2 img{
        margin-top: -53px;
        width: 115px;
    }
}

@media (max-width: 992px) {
}

@media (min-width: 992px) {
    .box-subscribe{
        width: 40%;
        position: relative;
    }

    .banner-line-width{
        width: 4%;
    }

    .banner-margin-top{
        margin-top: 100px;
    }
}

@media (min-width: 1024px) {
    #back-navigation{
        width: 350px;
    }
}

@media (min-width: 1300px) {
    .search-posi{
        margin-left: 141px;
        position: relative;
        left: 120%;
    }

    .menu-font-style2{
        font-size: 14px !important;
        /*font-weight: bold;*/
    }
}

@media (min-width: 1900px) {
    .search-posi{
        left: 265%;
    }
    .header-v3 .menu-desktop .main-menu.left {
        position: absolute;
        right: 100% !important;
    }
    .menu-desktop .main-menu > li > a {
        padding: 5px 30px;
    }

}

.font-custom-avenir-medium{
    font-family: 'AvenirMedium', sans-serif !important;
}

.font-custom-tiempos-light{
    font-family: 'TiemposHeadlineLight', sans-serif !important;
}

.font-custom-tiempos-light-italic{
    font-family: 'TiemposHeadlineLightItalic', sans-serif !important;
}

.font-custom-tiempos-regular{
    font-family: 'tiemposheadline-regular', sans-serif !important;
}

.font-custom-tiempos-regular-italic{
    font-family: 'TiemposHeadlineRegularItalic', sans-serif !important;
}

.font-custom-tiempos-medium{
    font-family: 'TiemposHeadlineMedium', sans-serif !important;
}

.font-custom-tiempos-medium-italic{
    font-family: 'TiemposHeadlineMediumItalic', sans-serif !important;
}

.font-custom-tiempos-bold{
    font-family: 'TiemposHeadlineBold', sans-serif !important;
}

.font-custom-tiempos-bold-italic{
    font-family: 'TiemposHeadlineBoldItalic', sans-serif !important;
}

.font-custom-libre-baskerville-regular{
    font-family: 'libre_baskervilleregular', sans-serif !important;
}

.font-custom-libre-baskerville-italic{
    font-family: 'libre_baskervilleitalic', sans-serif !important;
}

.font-custom-libre-baskerville-bold{
    font-family: 'librebaskerville-bold-webfont', sans-serif !important;
}


@font-face {
    font-family: 'AvenirMedium';
    src: local('Avenir Medium'), local('Avenir-Medium'),
    url('../../fonts/Avenir-Medium.woff2') format('woff2'),
    url('../../fonts/Avenir-Medium.woff') format('woff'),
    url('../../fonts/Avenir-Medium.ttf') format('truetype'),
    url('../../fonts/Avenir-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineLight';
    src: local('Tiempos Headline Light'), local('TiemposHeadline-Light'),
    url('../../fonts/TiemposHeadline-Light.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-Light.woff') format('woff'),
    url('../../fonts/TiemposHeadline-Light.ttf') format('truetype'),
    url('../../fonts/TiemposHeadline-Light.svg#TiemposHeadline-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineLightItalic';
    src: local('Tiempos Headline Light Italic'), local('TiemposHeadline-LightItalic'),
    url('../../fonts/TiemposHeadline-LightItalic.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-LightItalic.woff') format('woff'),
    url('../../fonts/TiemposHeadline-LightItalic.ttf') format('truetype'),
    url('../../fonts/TiemposHeadline-LightItalic.svg#TiemposHeadline-LightItalic') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'tiemposheadline-regular';
    src: url('../../fonts/tiemposheadline-regular.eot');
    src: url('../../fonts/tiemposheadline-regular.eot') format('embedded-opentype'),
    url('../../fonts/tiemposheadline-regular.woff2') format('woff2'),
    url('../../fonts/tiemposheadline-regular.woff') format('woff'),
    url('../../fonts/tiemposheadline-regular.ttf') format('truetype'),
    url('../../fonts/tiemposheadline-regular.svg#tiemposheadline-regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineRegularItalic';
    src: local('Tiempos Headline Regular Italic'), local('TiemposHeadline-RegularItalic'),
    url('../../fonts/TiemposHeadline-RegularItalic.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-RegularItalic.woff') format('woff'),
    url('../../fonts/TiemposHeadline-RegularItalic.ttf') format('truetype'),
    url('../../fonts/TiemposHeadline-RegularItalic.svg#TiemposHeadline-RegularItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TiemposHeadlineMedium';
    src: local('Tiempos Headline Medium'), local('TiemposHeadline-Medium'),
    url('../../fonts/TiemposHeadline-Medium.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-Medium.woff') format('woff'),
    url('../../fonts/TiemposHeadline-Medium.ttf') format('truetype'),
    url('../../fonts/TiemposHeadline-Medium.svg#TiemposHeadline-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineMediumItalic';
    src: local('Tiempos Headline Medium Italic'), local('TiemposHeadline-MediumItalic'),
    url('../../fonts/TiemposHeadline-MediumItalic.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-MediumItalic.woff') format('woff'),
    url('../../fonts/TiemposHeadline-MediumItalic.ttf') format('truetype'),
    url('../../fonts/TiemposHeadline-MediumItalic.svg#TiemposHeadline-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TiemposHeadlineBold';
    src: local('Tiempos Headline Bold'), local('TiemposHeadline-Bold'),
    url('../../fonts/TiemposHeadline-Bold.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-Bold.woff') format('woff'),
    url('../../fonts/TiemposHeadline-Bold.ttf') format('truetype'),
    url('../../fonts/TiemposHeadline-Bold.svg#TiemposHeadline-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TiemposHeadlineBoldItalic';
    src: local('Tiempos Headline Bold Italic'), local('TiemposHeadline-BoldItalic'),
    url('../../fonts/TiemposHeadline-BoldItalic.woff2') format('woff2'),
    url('../../fonts/TiemposHeadline-BoldItalic.woff') format('woff'),
    url('../../fonts/TiemposHeadline-BoldItalic.ttf') format('truetype'),
    url('../../fonts/TiemposHeadline-BoldItalic.svg#TiemposHeadline-BoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'libre_baskervilleregular';
    src: local('libre_baskervilleregular'), local('librebaskerville-regular-webfont'),
    url('../../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
    url('../../fonts/librebaskerville-regular-webfont.woff') format('woff'),
    url('../../fonts/librebaskerville-regular-webfont.ttf') format('truetype'),
    url('../../fonts/librebaskerville-regular-webfont.svg#libre_baskervilleregular') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'libre_baskervilleitalic';
    src: local('libre_baskervilleitalic'), local('librebaskerville-italic-webfont'),
    url('../../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
    url('../../fonts/librebaskerville-italic-webfont.woff') format('woff'),
    url('../../fonts/librebaskerville-italic-webfont.ttf') format('truetype'),
    url('../../fonts/librebaskerville-italic-webfont.svg#libre_baskervilleitalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'librebaskerville-bold-webfont';
    src: url('../../fonts/librebaskerville-bold-webfont.eot');
    src: url('../../fonts/librebaskerville-bold-webfont.eot') format('embedded-opentype'),
    url('../../fonts/librebaskerville-bold-webfont.woff2') format('woff2'),
    url('../../fonts/librebaskerville-bold-webfont.woff') format('woff'),
    url('../../fonts/librebaskerville-bold-webfont.ttf') format('truetype'),
    url('../../fonts/librebaskerville-bold-webfont.svg#libre_baskervillebold') format('svg');
    font-weight: 600;
    font-style: italic;
}

.pbox {
    height: 150px;
}

.pbox2 {
    height: 60px;
    width: auto;
}
